.container {
  position: relative;
  right: -360px;
  font-family: sans-serif;
  text-align: center;
  top: -500px;
}
.row {
  position: relative;
  top: 5px;

  font-size: 20px;
}
.icon {
  position: relative;
  top: 5px;
}
